PORT=3000
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/email-system
REDIS_URL=rediss://default:your-redis-password@your-redis-host:6379
BREVO_API_KEY=xkeysib-your-api-key
SENDERS=sender1@yourdomain.com,sender2@yourdomain.com
